:root{
  //css variables
  --color-primary: hsl(322, 100%, 66%); //Pink: hsl(322, 100%, 66%)
  --color-neutral-light: #f6fbff;    // - Very Pale Blue: hsl(207, 100%, 98%)
  --color-neutral-dark: hsl(192, 100%, 9%);  //  Very Dark Cyan: hsl(192, 100%, 9%)
}
